body {
    text-align: center; /*CSS COMUNE DA ELIMINARE DA QUI*/
  }
  .containerThirdPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  button{border-style: solid;
      border-width: 2px;
      border-color: white;
      color: white;
      margin: 0;
      background-color: transparent;
      box-shadow: 0 0 0 0;
      font-size: 23px;
      }
      
  
  .circleDiv{
      /*margin:auto;*/
      /*border-radius: 50%;*/
      width: 90%;
      height: 90%;
      background-color: aqua;
      padding-bottom: 5%;
      padding-left: 5%;
      padding-top: 5%;
      padding-right: 5%;
     /* border: 1px solid black;*/
      
      
  }
  .fillCircleDiv{
  
      /*width: 35vh;*/
      height: 90%;
      width: 90%;
      /*border-radius: 50%;*/
      background-color: rgb(0, 26, 255);
    
  }
  
  h1,h5{
      color:#D0D1D9;        
  }
  h1,h2,h3,h4,h5,h6{
      margin:0
  }


  .threeColumns{
      margin:auto;
      padding: 0;
      width: 100%;
  }