h1{
    font-size: 9vh;
}

p{
    margin-top: 0;
    font-size: 2.5vh;
    color: #C0C2CD;
}

li{
    font-size: 2.5vh;
    color:#C0C2CD
}

.coloriamoistruzioni{
    color: #c01494;
    font-size: 4vh;
    font-weight:900;
    padding: 0;
    margin-bottom: 0;
   
}
.trucco{
    color: transparent;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid white
}

.bianchiamo:hover input ~ .trucco {
    background-color: white;
}


.testobott{
  font-size: large;
  
}
#check{ 
    accent-color: white;
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
    margin:0; 
}



ul{
    padding-top: 2%;
    padding-bottom: 5%;
}
label{
    color: white;
    font-size: 2.5vh;
}
span{
    margin-right:1%;
}